[submodule "simpleappframework"]
	path = simpleappframework
	url = https://github.com/BrianKhan/SimpleAppFrameWork
[submodule "JavaXJson"]
	path = JavaXJson
	url = https://github.com/BrianKhan/JavaXJson
[submodule "AudioManager"]
	path = AudioManager
	url = https://github.com/briankhan/audiomanager.git
[submodule "XMLUtilities"]
	path = XMLUtilities
	url = https://github.com/BrianKhan/XMLUtilities
[submodule "PropertiesManager"]
	path = PropertiesManager
	url = https://github.com/BrianKhan/propertiesmanager
